@import "mixin.scss";
$site-width : 950px;
$site-aisde-width : 200px;
$seperate-color: #eee;
$spacer : 10px;

html,body {
    @include min-height(100%);
}
*{
    margin:0;
    padding:0;
}
a img {
    border-style:none;
}
body {
    margin: 0 auto;
    @include stripe(100% ,rgba(#6699CC, 0.3), rgba(blue, 0.1));
}
#page{
    width: $site-width;
    margin: 0 auto;
    height: auto;
    padding:0 25px;
    background-color:#fff;
    @include shadow(#111111);
}
header {
    width: $site-width;
    border-bottom: 1px solid $seperate-color;
}
nav{
    ul.nav-roll{
        width: $site-width - $site-aisde-width - 25;
        list-style: none;
        li.nav-site {
            float: left;
            text-align: center;
            font-weight: bold;
            border-right: solid 1px #000;
            border-left: solid 1px #000;
            a {
                display: block;
            }
            img{
                width :140px;
                height: 100px
            }
        }
        @include clearfix;
    }
}
#contents {
    $gutter : 45px;
    $border-size : 1px;
    float: right;
    width: $site-width - $site-aisde-width - $gutter;
    padding-left: ceil($gutter/2 - $border-size);
    margin-left: ceil($gutter/2 - $border-size);
    margin-top:$spacer;
    margin-bottom:$spacer;
    border-left: $border-size solid $seperate-color;
    p{
        line-height:1.5;
    }
    .site-description, .description{
            background-color: #e3ffa6;
        font-size: 1em;
        margin: 5px;
        padding: 10px 10px 10px 15px;
        text-align: left;
    }
}
.sites {
    margin-top: 10px;
    border-top: 1px solid #EEEEEE;
    h1 {
        line-height: 1.2;
        padding-left:10px;
        border-left: 4px solid #111;
    }
    .screenshots {
        text-align:center;
    }
}
aside {
    float: left;
    width: $site-aisde-width;
    margin:$spacer 0 $spacer 0;
    ul.side-menu li{
        a{
            display: block;
            padding:10px 5px;
        }
        list-style:none;
        margin-bottom: 2px;
        border-top: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
    }
}

hr {
    clear: both;
}

footer {
    width: $site-width;
}